<div class="m-b text-sm">
  Sign up to your RocketMD Account
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


  <div class="md-form-group">
    <%= f.text_field :name, autofocus: true, :class => "md-input", :placeholder => "Name", :required => "" %>
    <label>Name</label>
  </div>
  <div class="md-form-group">
    <%= f.email_field :email, autofocus: true, :class => "md-input", :placeholder => "Email", :required => "" %>
    <label>Email</label>
  </div>
  <div class="md-form-group">
    <%= f.password_field :password, autofocus: true, :class => "md-input", :placeholder => "Password", :required => "", autocomplete: "off" %>
    <label>Password
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
    </label>
  </div>
    <div class="md-form-group">
      <%= f.password_field :password_confirmation, autofocus: true, :class => "md-input", :placeholder => "Confirm Password", :required => "", autocomplete: "off" %>
      <label>Password</label>
    </div>


  <div class="m-b-md">
    <label class="md-check">
      <input type="checkbox" required><i class="primary"></i> Agree the <a href>terms and policy</a>
    </label>
  </div>
    <%= f.submit "Sign up", :class => "btn primary btn-block p-x-md" %>

<% end %>
