<div id="aside" class="app-aside modal fade nav-dropdown">
  <!-- fluid app aside -->
  <div class="left navside dark dk" layout="column">
    <div class="navbar no-radius">
      <!-- brand -->
      <a class="navbar-brand">
        <div ui-include="'../assets/images/logo.svg'"></div>
        <i class="fa fa-rocket fa-lg"></i>
        <span class="hidden-folded inline">Rocket MD</span>
      </a>
      <!-- / brand -->
    </div>
    <div flex class="hide-scroll">
      <nav class="scroll nav-light">

        <ul class="nav" ui-nav>
          <li class="nav-header hidden-folded">
            <small class="text-muted">Main</small>
          </li>

          <li>
            <%= link_to root_path do %>
                    <span class="nav-icon">
                      <i class="material-icons">&#xe3fc;
                        <span ui-include="'../assets/images/i_0.svg'"></span>
                      </i>
                    </span>
                <span class="nav-text">Dashboard</span>
            <% end %>
          </li>
          <li>
            <%= link_to patients_path do %>
             <span class="nav-icon">
                      <i class="fa fa-wheelchair fa-lg">
                      </i>
                    </span>
                <span class="nav-text">Patients</span>

            <% end %>
          </li>

          <li>
            <%= link_to appointments_path do %>
             <span class="nav-icon">
                      <i class="fa fa-clock-o fa-lg">
                      </i>
                    </span>
                <span class="nav-text">Appointments</span>

            <% end %>
          </li>

          <li>
            <a>
                    <span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
              <span class="nav-label">
                      <b class="label rounded label-sm primary">5</b>
                    </span>
              <span class="nav-icon">
                      <i class="material-icons">&#xe5c3;
                        <span ui-include="'../assets/images/i_1.svg'"></span>
                      </i>
                    </span>
              <span class="nav-text">Test Menu</span>
            </a>
            <ul class="nav-sub">
              <li>
                <a href="#">
                  <span class="nav-text">Inbox</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="nav-text">Contacts</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="nav-text">Calendar</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-header hidden-folded">
            <small class="text-muted">Help</small>
          </li>

          <li class="hidden-folded">
            <a href="https://github.com/Eduardoveras94/RocketMD/wiki">
              <span class="nav-text">Documentation</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
    <div flex-no-shrink class="b-t">
      <div class="nav-fold">
        <a href="profile.html">
        	    <span class="pull-left">
                <%= image_tag "gentelella/production/assets/images/a0.jpg", alt: "...", class: "w-40 img-circle" %>
        	    </span>
          <span class="clear hidden-folded p-x">
        	      <span class="block _500"><%= current_user.name %></span>
        	      <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
        	    </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- / -->