

<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Form Design
          <small>different form elements</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br/>
        <%= form_for(patient, :html => {:class => 'form-horizontal form-label-left input_mask'}) do |f| %>

            <% if patient.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

                  <ul>
                    <% patient.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>


            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :first_name, class: 'form-control has-feedback-left', id: 'inputSuccess2', placeholder: 'First Name' %>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :last_name, class: 'form-control', id: 'inputSuccess3', placeholder: 'Last Name' %>
              <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :identification, class: 'form-control has-feedback-left', id: 'inputSuccess4', placeholder: 'ID Number' %>
              <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :phone, class: "form-control", id: 'inputSuccess5', placeholder: 'Phone' %>
              <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :date_of_birth, class: 'form-control has-feedback-left datepicker', placeholder: 'Date of Birth' %>
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :alt_phone, class: 'form-control', placeholder: 'Cellphone' %>
              <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.text_field :address, class: 'form-control has-feedback-left', placeholder: 'Adress' %>
              <span class="fa fa-address-card form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
              <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
            </div>

            <%= f.check_box :male ,class: 'form-control' %>


            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <%= f.submit :class => 'btn btn-primary btn-round' do %>
                    <i class="fa fa-plus"></i> Add Patient
                <% end %>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>