<%# views/devise/sessions/new.html.erb %>

<div class="">

  <div id="wrapper">
    <div id="login" class="animate form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1>Login Form</h1>
            <div>
              <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder =>"Username",  :required => ""  %>

            </div>
            <div>

              <%= f.password_field :password, autofocus: true, :class => "form-control", :placeholder =>"Password",  :required => ""  %>

            </div>
            <div>

              <%= f.submit "Log in", :class => "btn btn-default submit"%>

              <% if devise_mapping.rememberable? -%>
                  <div class="checkbox-inline">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
              <% end -%>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <%= render "devise/shared/links" %>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-rocket" style="font-size: 26px;"></i> Rocket MD</h1>

                <p>©2017 All Rights Reserved. Rocket MD. Privacy and Terms</p>
              </div>
            </div>
        <% end %>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
  </div>
</div>

