<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Rocket MD Software" %> </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body >

<div class="app" id="app">
<%= render "partials/sidenav" %>


  <div id="content" class="app-content box-shadow-z0" role="main">
    <%= render "partials/topnav" %>
    <%= render "partials/footer" %>
    <div ui-view class="app-body" id="view">
    <div style="min-height: 200px">
      <%= yield %>
    </div>
    </div>

  </div>
</div>



  <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
</body>
</html>
